<div class="item-view-container">
  <button mat-stroked-button class="back-button" color="primary" (click)="goBack()">Back</button>

  <mat-card *ngIf="item(); else loading">
    <mat-card-header>
      <mat-card-title>{{ item()?.address }}</mat-card-title>
      <mat-card-subtitle>ID: {{ item()?.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Description:</strong> {{ item()?.description }}</p>
    </mat-card-content>
  </mat-card>

  <ng-template #loading>
    <p class="loading-text">Loading item, please wait...</p>
  </ng-template>
</div>
