.container {
  .toolbar {
    margin: 2rem 0;
  }

  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #f5f5f5;

      td {
        padding: 0.5rem 1rem;
        text-align: left;
      }
    }
  }
}
